<%- include('partials/header') %>

    <div class="app">


        <div class="main">
            <h1>Secrets</h1>
            <h3>Don't Keep your secrets, share them anonymously.</h3>

            <a href="/register"><button >Register</button></a>
            <a href="/login"><button>Login</button></a>
        </div>
    </div>


    <%- include('partials/footer') %>