<%- include('partials/header') %>


<div class="app">


    <div class="main">
        <h1>Secrets Page</h1>
        <h3>You Discovered the Secret Page</h3>


        <a href="/logout" role="button"><button>Log out</button></a>
        <a href="/submit" role="button"><button>Submit a Secrets</button></a>

    </div>
</div>

    <%- include('partials/footer') %>