<%- include('partials/header') %>


<div class="app">

    <div class="main">
        <h1>Secrets Submit</h1>
        <h3>Submit Your Secrets Here.</h3>

        <label for="">Enter Your Secrets Here.</label>
        <input type="text" name="secret">
       
       <button type="submit">Submit</button>

    </div>
</div>

    <%- include('partials/footer') %>